<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <% if @reports.present? %>
    <h1 class="display-4">Income</h1>
    <p class="lead">
      <span id="total-income"><%= number_to_currency current_user.income %><span>
    </p>
  <% else %>
    <h1 class="display-4">You still don't have reports!</h1>
  <% end %>

  <%= link_to 'New Report', new_report_path, class: 'btn btn-primary my-2' %>
</div>

<div class="container text-center">
  <% if @reports.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Income</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody id="reports" class="js-reports">
        <%= render @reports %>
      </tbody>
    </table>

    <% if @more_link %>
      <%= link_to @more_link, id: 'js-more-reports', class: 'btn btn-outline-primary', remote: true do %>
        Load more
      <% end %>
    <% end %>
  <% end %>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2019</small>
      </div>
    </div>
  </footer>
</div>
