<nav class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand d-flex align-items-center" href="/">FoobarImporter</a>

    <% if current_user %>
      <ul class="navbar-nav my-9 my-md-0">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "Welcome! #{current_user.email}" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown06">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
